QWidget {
    font: 10pt "微软雅黑";
    color: white;
    background-color: black;
}

QWidget:disabed {
    color: #787878;
    background-color: #1B1F1E;
}

QPushButton {
    border: 1px solid white;
    border-radius: 8px;
    padding: 2px 8px 2px 8px;
}

QPushButton:disabled {
	background-color: #32414B;
	border: 1px solid #32414B;
	color: #787878;
}
