<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.70.0.0" targetFramework="native" />
  <package id="boost_chrono-vc140" version="1.70.0.0" targetFramework="native" />
  <package id="boost_date_time-vc140" version="1.70.0.0" targetFramework="native" />
  <package id="boost_filesystem-vc140" version="1.70.0.0" targetFramework="native" />
  <package id="boost_serialization-vc140" version="1.70.0.0" targetFramework="native" />
  <package id="boost_thread-vc140" version="1.70.0.0" targetFramework="native" />
  <package id="FallPointMeasure" version="1.0.43" targetFramework="native" />
  <package id="FallPointMeasure.redist" version="1.0.43" targetFramework="native" />
  <package id="FallPointMeasure.symbols" version="1.0.43" targetFramework="native" />
  <package id="FlashBadBlockScanTool" version="1.0.7" targetFramework="native" />
  <package id="FlashBadBlockScanTool.redist" version="1.0.7" targetFramework="native" />
  <package id="jsoncpp" version="1.0.0" targetFramework="native" />
  <package id="jsoncpp.redist" version="1.0.0" targetFramework="native" />
  <package id="libjpeg" version="0.0.2" targetFramework="native" />
  <package id="libjpeg.redist" version="0.0.2" targetFramework="native" />
  <package id="libtiff" version="4.5.0.3" targetFramework="native" />
  <package id="libtiff.redist" version="4.5.0.3" targetFramework="native" />
  <package id="OpenCV" version="4.4.0" targetFramework="native" />
  <package id="OpenCV.redist" version="4.4.0" targetFramework="native" />
  <package id="qtcsv" version="1.6.0" targetFramework="native" />
  <package id="qtcsv.redist" version="1.6.0" targetFramework="native" />
  <package id="qtcsv.symbols" version="1.6.0" targetFramework="native" />
  <package id="rapidjson" version="1.1.0" targetFramework="native" />
  <package id="tinyxml2" version="7.1.0" targetFramework="native" />
  <package id="UpdateGradeTool.redist" version="1.1.6" targetFramework="native" />
  <package id="VS2015Runtime" version="1.0.2" targetFramework="native" />
  <package id="VS2015Runtime.redist" version="1.0.2" targetFramework="native" />
  <package id="VS2015Runtime.symbols" version="1.0.2" targetFramework="native" />
</packages>